/* ---------------------------------fonts------------------------------------- */

@font-face {
    font-family: "DxcRegular";
    src: url("fonts/GT-Walsheim-Pro-Regular.woff2") format('woff');
}

@font-face {
    font-family: "DxcBold";
    src: url("fonts/GT-Walsheim-Pro-Bold.woff2") format('woff');
}

/* ---------------------------------overall------------------------------------- */

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------cover Image-------------------------------------- */

.coverImage {
    /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 15%, rgba(128, 128, 128, 0) 20%, rgba(0, 0, 0, 0.9)70%), url(images/city-network-tech.jpg);*/
    background-image: url(images/city-network-tech.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 825px;
    /* width: auto; */
    /* position: relative; */
    /* filter: grayscale(100%);*/
}


.coverButton {
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    padding: 18px 28px;
    border: solid 1px #ffed00;
    top: 68%;
    left: 11.2%;
    transform: translate(-50%, -50%);
    font-family: DxcRegular;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: black;
    background: #ffed00;
    border: 1px solid #ffed00;
}

.coverHeader {
    color: #ffed00;
    /* position: absolute; */
    font-family: DxcRegular;
    font-size: 30px;
    left: 5%;
    top: 30%;
    right: 70%;
}

.coverText {
    color: white;
    /* position: absolute; */
    font-family: DxcRegular;
    font-size: 20px;
    left: 5%;
    top: 45%;
    right: 70%;
    text-align: justify;
}

a.coverButton:hover {
    color: black;
    background: white;
    border: 1px solid #ffed00;
}


#coverInfo {
    margin: 2em;
    height: 200px;
    width: 500px;
    top: 18em;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    /* top: 50%; */
    /* left: 20px; */
    padding: 3em;

}

/* --------------------------------- menu-------------------------------------- */

.topMenu {
    list-style-type: none;
    position: absolute;
    margin: 0;
    overflow: hidden;
    background-color: black;
    z-index: 1000000000;
    /* opacity: 0.8; */
    position: fixed;
    width: 100%;
}

.logoActive {
    float: left;
    background-image: url(images/dxc_logo.JPG);
    width: 200px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    margin: 22px 0 15px 40px;
}

.assetLink {
    float: right;
    background-color: black;
    display: block;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    color: #00C9FF;
    border-bottom: solid 4px #00C9FF;
    font-family: DxcRegular;
    letter-spacing: 1px;
    margin-top: 20px;
}

.factSheet {
    float: right;
    background-color: black;
    display: block;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    color: white;
    border-bottom: solid 4px #ffed00;
    font-family: DxcRegular;
    letter-spacing: 1px;
    margin-top: 20px;
}

/* ---------------------------------Landing page-------------------------------------- */
.mainContent {
    height: 1000px;
    /*temporary, for testing the line and content on landing page*/
}




/*---------------------------------scroll line ---------------------------------------*/

svg {
    height: 100%;
}

/* ---------------------------------teaser section-------------------------------------- */
.teaser {
    font-family: DxcBold;
    padding: 50px 150px;
}

.teaserRow2 {
    padding: 0 260px;
}

.teaserGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    justify-items: center;
    justify-content: center;
    text-align-last: center;
    margin: auto;
}

.teaserGrid2 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    margin: auto;
}

.teaser h1 {
    text-align: center;
}

.teaser h3,
.teaserRow2 h3 {
    font-family: DxcRegular;
    font-size: 24px;
    text-align: center;
}

.teaser img {
    display: block;
    left: 0;
    right: 0;
}

.teaserOne,
.teaserTwo,
.teaserThree,
.teaserFour,
.teaserFive {
    padding: 60px 20px 20px 0;
    /*for a smooth transition:*/
    transition: transform .6s;
}

.teaserOneImg,
.teaserTwoImg,
.teaserThreeImg,
.teaserFourImg,
.teaserFiveImg {
    display: flex;
    justify-content: center;
}

.teaserOne img {
    width: 100px;
    height: 100px;
}

.teaserTwo img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.teaserThree img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.teaserFour img {
    width: 120px;
    height: 60px;
    margin-top: 40px;
}

.teaserFive img {
    width: 140px;
    height: 140px;
}

.middleButton {
    display: flex;
    justify-content: center;
}

#middleButton {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 25px 70px;
    background: #ffed00;
    font-family: DxcRegular;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#middleButton:hover {
    background-color: white;
    border: 3px solid #ffed00;
    padding: 25px 70px;
}

/* ---------------------------------partners-------------------------------------- */

.partners {
    display: flex;
    justify-content: flex-start;
    /* display: flex; */
    border-bottom-color: blanchedalmond;
    justify-content: space-around;
}

.partnerImage {
    height: 60px;
    width: auto;
    padding: 25px;
}

.partnerImage:first-child {
    border-bottom: solid 5px #d2303a;
}

.partnerImage:nth-child(2) {
    border-bottom: solid 5px #2373ba;
}

.partnerImage:nth-child(3) {
    border-bottom: solid 5px #F1C911;
}

/* ---------------------------------FORM-------------------------------------- */
form h1 {
    color: #ffed00;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

input {
    display: block;
    font-family: DxcRegular;
}

input,
select {
    font-size: 1rem;
    width: 14em;
}

.invalid {
    border: 1px solid red;
    font-size: 1rem;
    width: 14em;
    padding: 8px;
}

input+p {
    display: none;
}

input.invalid+p {
    display: block;
    font-size: .7rem;
    margin-top: -24px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid red;
    padding: 7px;
    color: white;
    width: 226px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus,
textarea:focus {
    background-color: white;
    color: black;
}

form {
    justify-content: center;
    display: grid;
    font-family: DxcRegular;
    padding: 60px;
}

form input {
    margin-bottom: 1.5rem;
    background-color: white;
    border: inherit;
    padding: 8px;
}

form input[type="checkbox"] {
    margin: 15px 0 0 0;
    display: inline;
}

select#country {
    width: 15em;
    height: 2.3rem;
    border: none;
}

form label {
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#checkbox-label {
    font-size: .8em;
    padding: 0;
    margin: 10px;
    width: 230px;
}

#checkbox-input {
    width: 30px;
    margin: 30px 0 0 0;
}

.formSubmit {
    color: #ffed00;
    font-size: 1rem;
    padding: 15px 30px;
    border: solid 1px #ffed00;
    background-color: black;
    letter-spacing: 1px;
    font-family: DxcRegular;
    text-transform: uppercase;
    cursor: pointer;
    justify-self: center;
    width: 15em;
}

.formSubmit:hover {
    color: black;
    border: solid 1px #ffed00;
    background-color: #ffed00;
}


#formSection {
    background-color: black;
    height: auto;
    margin: 10px 450px;
    /* border-radius: 5%; */
    /* display: grid;
    grid-template-columns: 1fr 50px 1fr; */
}


/*validation*/

.hideCheckError {
    display: none;
}

/*--------------------------- ASSETS PAGE ----------------------------------*/
/*--------------------------sections styling---------------------------------*/

.mainSection {
    height: 700px;
}

.mainSection h2 {
    font-family: "DxcRegular";
    font-size: 26px;
    text-align: center;
    padding: 50px 100px 20px 100px;
}

.mainSection h3 {
    font-family: "DxcRegular";
    font-size: 19px;
    text-align: center;
    margin: 30px;
    padding: 10px 0 40px 0;
}

.mainSection p {
    font-family: "DxcRegular";
    font-size: 16px;
    margin: 0.3em;
    padding: 10px;
    text-align: justify;
}

.mainSection #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas:
        "one two three"
        "four . five";
}

.mainSection #cards h3 {
    font-family: "DxcRegular";
    font-size: 22px;
    margin: 0.3em;
    padding: 30px 0 20px 0;
    text-align: center;
    border-bottom: solid 2px #00C9FF;
}

#cards .cardOne,
#cards .cardTwo,
#cards .cardThree,
#cards .cardFour,
#cards .cardFive {
    margin: 0 30px;
    padding: 40px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

/* #cards .cardFive {
    grid-area: five;
} */

#cards .cardOneImg,
#cards .cardTwoImg,
#cards .cardThreeImg,
#cards .cardFourImg,
#cards .cardFiveImg {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#cards .cardFourImg {
    margin: 56px;
}

#cards .cardOne img {
    width: 100px;
    height: 100px;
}

#cards .cardTwo img {
    width: 100px;
    height: 100px;
}

#cards .cardThree img {
    width: 100px;
    height: 100px;
}

#cards .cardFour img {
    width: 120px;
    height: 60px;
}

#cards .cardFive img {
    width: 130px;
    height: 130px;
}

.featureSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    margin-top: 60px;
}

.featureSectionText {
    margin-right: 40px;
}

.featureSectionText h3 {
    font-family: "DxcRegular";
    font-size: 23px;
    text-align: start;
    margin: 20px 10px 50px 130px;
    padding: 60px 20px 30px 0;
    border-bottom: solid 2px #00C9FF;
}

.featureSectionText p {
    font-family: "DxcRegular";
    font-size: 16px;
    text-align: justify;
    margin: 20px 10px 0 150px;
    padding: 5px;
}

.featureSection p::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background: url(icons/checkbox.png);
    background-size: cover;
    padding: 5px;
    margin-right: 10px;
}

.featureImg,
.advantageImg {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.featureLaptop,
.advantageLaptop {
    width: 100%;
    height: auto;
}

.advantageSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    margin-top: 20px;
}

.advantageSectionText h3 {
    font-family: "DxcRegular";
    font-size: 23px;
    text-align: start;
    margin: 100px 10px 50px 50px;
    padding: 20px;
    border-bottom: solid 2px #00C9FF;
}

.advantageSectionText p {
    font-family: "DxcRegular";
    font-size: 16px;
    text-align: justify;
    margin: 20px 40px 0 100px;
    padding: 5px;
}

.advantageSection p::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background: url(icons/arrow.png);
    background-size: cover;
    padding: 1px;
    margin-right: 10px;
}

.databaseImage {
    width: 100%;
    height: auto;
}

p.databaseText {
    text-align: justify;
    margin-top: 70px;
    letter-spacing: .2px;
}

p.databaseText::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background: url(icons/arrow.png);
    background-size: cover;
    padding: 1px;
    margin-right: 10px;
}

/*----------------------------------grahic database---------------------------------*/

.databaseText {
    color: black;
    font-family: "DxcRegular";
    font-size: 20px;
}


#databaseImg {
    display: flex;
    flex-direction: column;
    margin: 15rem;
}

/*---------------------------------advantages and features-----------------------------*/
/*overall*/
#bottomInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin: 8em;
}

/*advantages*/
.advantages {
    border: 1px solid black;
    padding: 3em;
}

.advTitle {
    color: black;
    font-family: "DxcRegular";
    font-size: 20px;
    text-align: center;

}

.advText {
    color: black;
    font-family: "DxcRegular";
    font-size: 16px;
}

/*fetaures*/
.features {
    border: 1px solid black;
    padding: 3em;
}

.featTitle {
    color: black;
    font-family: "DxcRegular";
    font-size: 20px;
    text-align: center;
}

.featText {
    color: black;
    font-family: "DxcRegular";
    font-size: 16px;
}

/*--------------------------------------MODAL----------------------------------------*/

.modalBackground {
    display: none;
    position: fixed;
    z-index: 10000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
    font-family: "DxcRegular";
    margin: 10% auto;
    width: 30%;
    padding: 30px 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .4);
    background-color: white;
    justify-items: center;
    align-items: center;
    display: grid;
}

.modalContent p {
    display: block;
    color: black;
    margin: 20px;
}

button.signOutModal {
    background-color: #ffed00;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.showModal {
    display: block;
}

/* ---------------------------------RESPONSIVE-------------------------------------- */
/* For tablets: */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .coverImage {
        height: 500px;
    }

    .coverText {
        font-size: 20px;
        right: 40%;
        top: 20%;
        margin-left: 50px;
    }

    .coverButton {
        left: 25%;
        top: 40%;
    }

    .assetLink {
        letter-spacing: 0;
    }

    .partnerImage {
        height: 40px;
    }

    #formSection {
        margin: 0;
    }

    #coverInfo {
        top: 5em;
    }

    .advantageSection,
    .featureSection {
        grid-template-columns: 1fr;
        display: contents;
    }

    .mainSection #cards {

        grid-template-columns: 1fr 1fr;
        display: grid;

        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-template-areas: none;

    }

    #databaseImg {
        margin: 2rem;
    }

    #databaseImg {
        margin: 1em;
    }
}


/* Portrait Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .coverImage {
        height: 500px;
    }

    .coverText {
        right: 0;
        font-size: 16px;
        margin: 30px;
    }

    .coverButton {
        left: 50%;
    }

    .partnerImage {
        height: 40px;
    }

    .partners {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    #formSection {
        display: list-item;
        padding: 0;
    }

    .teaserGrid,
    .teaserGrid2 {
        grid-template-columns: 1fr;
    }

    .teaser,
    .teaserRow2 {
        padding: 0;
    }

    #formSection {
        margin: 0;
    }

    #coverInfo {
        height: 0;
        top: 6em;
    }
}


/* Landscape Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .coverImage {
        height: 300px;
    }

    .coverText {
        font-size: 18px;
        left: 15%;
        top: 0%;
        right: 0%;
    }

    .coverButton {
        left: 50%;
    }

    .teaserGrid,
    .teaserGrid2 {
        grid-template-columns: 1fr;
    }

    .teaser,
    .teaserRow2 {
        padding: 0;
    }

    #formSection {
        margin: 0;
    }

    #coverInfo {
        height: 0;
        top: 6em;
    }
}


/*---------------------------FOOTER ----------------------------------*/
/********************COPIED- EDIT!!*/
/*************https://codepen.io/om-10/pen/abvvBxR*************/

/* FOOTER */
.footer {
    width: 100%;
    /* background: #171717; */
    background-color: black;
    display: block;
    font-family: "DxcRegular";
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    place-content: space-around;
}

.footer-items {
    width: max-content;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #fff;
}

.footer-items .circle {
    width: 30px;
    height: 40px;
}

.footer-items img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.footer-items a {
    margin-right: 20px;
    text-decoration: none;
}

.footer-items .facebookIcon {
    width: 13px;
    height: 25px;
}

.footer-items .linkedinIcon {
    width: 25px;
    height: 25px;
}

.footer-items .twitterIcon {
    width: 30px;
    height: 30px;
}

.footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
}

.footer-items h1 {
    color: #fff;
}

.border1 {
    height: 3px;
    width: 40px;
    background: #00C9FF;
    color: #00C9FF;
    background-color: #00C9FF;
    border: 0px;
}

ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover {
    color: #00C9FF;
}

.footer-bottom {
    padding: 10px;
    background: #1F2020;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
    .footer-items {
        width: 50%;
    }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
    .footer-items {
        width: 100%;
    }
}



/*ASSET form */

.footerAsset {
    color: white;
    background-color: black;
    font-family: "DxcRegular";
}

.inner-footerAsset {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    place-content: space-around;
}

.footer-infoAsset h2,
p {
    font-size: 16px;
    text-align: center;
    padding: 0;
}

.footer-infoAsset h2 {
    font-size: 28px;
    text-align: left;
    margin-left: 13px;
}

.footer-infoAsset {
    padding: 70px;
}

.footer-infoAsset .facebookIcon,
.footer-infoAsset .twitterIcon,
.footer-infoAsset .linkedinIcon {
    margin: 45px 9px 0 4px;
    text-decoration: none;
}

.footer-infoAsset img {
    padding-left: 10px;
}

.footer-itemsAsset {
    width: fit-content;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 50px;
}

.footer-itemsAsset h4 {
    font-size: 26px;
    text-align: start;
    margin: 40px 100px;
}

.footer-itemsAsset h4::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background: url(images/circle.png);
    background-size: cover;
    /*     padding: 3px; */
    margin: 0 10px 10px 0;
}

.footer-itemsAsset p.link {
    padding: 0 95px;
}

.footer-itemsAsset p.text {
    padding: 0 95px 70px 95px;
}

.footer-infoAsset img {
    height: 2rem;
    width: auto;
}

.footer-itemsAsset img {
    display: none;
}



/**testing**/

/**on hover icon effetc**/

.teaserOne:hover {
    transform: scale(1.5);
}

.teaserFour:hover {
    transform: scale(1.5);
}